body {
    font-family: Arial, sans-serif;
    background-color: #fff3e6; /* Light background for contrast */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5733; /* Red color */
    color: white;
    text-align: center;
    padding: 20px 0;
}

#food-list {
    padding: 20px;
}

#food-list h2 {
    text-align: center;
    color: #ff5733; /* Red color */
}