<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $languageMessages['__fastFoodRestaurant'] }}</title>

    <link rel="stylesheet" href="/public/css/mainPage/main.css">
    <link rel="stylesheet" href="/public/css/mainPage/buttons.css">
    <link rel="stylesheet" href="/public/css/mainPage/food-list.css">
    <link rel="stylesheet" href="/public/css/mainPage/navigation.css">
    <link rel="stylesheet" href="/public/css/mainPage/user-list.css">
    <link rel="stylesheet" href="/public/css/mainPage/order-list.css">
    <link rel="stylesheet" href="/public/css/mainPage/account.css">
    <script src="/public/js/trackClick.js"></script>
</head>
<body>
<header>
    <h1>{{ $languageMessages['__fastFoodRestaurant'] }}</h1>
    <nav>
        <ul class="nav-links">
            <li class="nav-item"><a class="nav-link active">{{ $languageMessages['__about'] }}</a></li>
            <li class="nav-item"><a class="nav-link">{{ $languageMessages['__service'] }}</a></li>
            <li class="nav-item"><a class="nav-link">{{ $languageMessages['__price'] }}</a></li>
            <li class="nav-item"><a class="nav-link">{{ $languageMessages['__contact'] }}</a></li>
        </ul>
    </nav>
    <button class="order-btn" id="adminBtn">{{ $languageMessages['__adminPanel'] }}</button>
    <div class="user-panel">
    <span class="greeting">
      {{ $isGuest ? $languageMessages['__guest'] : $userName }}
    </span>

        @if(!$isGuest)
        <button id="changeAccountBtn"
                class="action-btn"
                data-element-type="account"
                data-element-id="switch">
            {{ $languageMessages['__changeTheAccount'] }}
        </button>

        <button id="logoutBtn"
                class="action-btn"
                data-element-type="account"
                data-element-id="logout">
            {{ $languageMessages['__logout'] }}
        </button>

        @else
        <a href="/login"
           class="action-btn"
           data-element-type="account"
           data-element-id="login">
            {{ $languageMessages['__login'] }}
        </a>
        <a href="/registration"
           class="action-btn"
           data-element-type="account"
           data-element-id="registration">
            {{ $languageMessages['__registration'] }}
        </a>
        @endif
    </div>
</header>

<section id="user-list">
    <h2>{{ $languageMessages['__users'] }}</h2>
    @if(!empty($users))
    <ul class="user-list">
        @foreach($users as $user)
        <li class="user-item">
            {{ $user['userName'] }} {{ $user['userSurname'] }}
        </li>
        @endforeach
    </ul>
    @else
    <p>{{ $languageMessages['__noRegisteredUsers']}}</p>
    @endif
</section>

<section id="order-list">
    <h2>{{ $languageMessages['__orders'] }}</h2>
    @if(!empty($orders))
    <ul class="order-list">
        @foreach($orders as $order)
        <li class="order-item">
            {{ $order['userName'] }} — {{ $order['foodName'] }}
        </li>
        @endforeach
    </ul>
    @else
    <p>{{ $languageMessages['__noActiveOrders'] }}</p>
    @endif
</section>

<section id="food-list">
    <h2>{{ $languageMessages['__ourMenu'] }}</h2>
    <div class="menu-grid">
        @if(!empty($menuItems))
        @foreach($menuItems as $index => $item)
        <div class="menu-item" data-id="{{ $index + 1 }}">
            <img src="public/images/{{ $item['image_path'] }}" alt="{{ $item['name'] }}">
            <h3>{{ $item['name'] }}</h3>
            <p class="description">{{ $item['description'] }}</p>
            <button class="order-btn"
                    data-element-type="food_item"
                    data-element-id="order">
                {{ $languageMessages['__order'] }}
            </button>
        </div>
        @endforeach
        @else
        <p>{{ $languageMessages['__noMenuItemsAvailable'] }}</p>
        @endif
    </div>
</section>



<script src="/public/js/main_page/main.js"></script>
<script src="/public/js/main_page/food-list.js"></script>
<script src="/public/js/main_page/headerLinks.js"></script>
<script src="/public/js/main_page/userPanel.js"></script>

</body>
</html>
